

#intro:after {
  content : "";
  height: 100%;
  background-image: url("images/chess1.jpg");
  background-repeat: no-repeat;
  position: fixed;
  background-size:  cover;
  width: 100%;
  /* opacity: 0.4; */
  z-index: -1;
  background-attachment: fixed;
  margin-left: 0;
}

.container-fluid{
  padding: 3% 15%;
}
div#intro.container-fluid{
    padding: 0 0 0 0;
}
.chessboard {
  position: fixed;
  top: 100px;
  right: 0;
  left: 570px;
  z-index: 10;
}
#title {
}
#socials {
  margin-top: 100px;
  text-align: center;
  position: relative;
}
/* feature-box */
#features {
  line-height: 1;
  padding: 0 10% 0 10%;
}
.feature-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #f88941;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff7f12;
}

/* CHESSBOARD CSS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.container1{
  position: fixed;
  right: 0;
  bottom: 40%;
  left: 40%;
  z-index: 1030;
}
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #ff7f12;
}
.ratings{
margin-top: 90px;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #ff7f12;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}
.textAndBackground{
color: white;
font-weight: bold;
}

.white-on-black{
color: white;
background:#222831;
margin-bottom: 10px;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: blue;
background-color: #ff7f12;
width: 100px;
}
.char{
background-color: #c9753d;
}
.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.cellLight {
  text-align: center;
  background-color: #faf5e4;
  width: 45px;
  height: 70px;
  font-size: 40px;
}
.cellDark{
  text-align: center;
  background-color: #cfb495;
  width: 45px;
  height: 70px;
  font-size: 40px;
}
table, td {
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
  margin-top: 60px;
}
.table td, .table th {
  padding: 0rem;
}

a {
  color: #faf5e4;
  font-size: medium;
  font-family: "Agency FB";
}

.char {
  width: 15px;
}
.number {
  height: 15px;
  width: 15px;
}



/*CHAT*/
.chatHeader {
  font-size: 12px;
  position: center;
  top: 0;
  z-index: 1;
  width: 80%;
  height: 170px;
  background-color: black;
  overflow: scroll;
}

.chatHeader h2 {
  text-align: center;
  color: goldenrod;
  font-size: 12px;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: lightslategrey;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

.chatContent {
  font-size: 12px;
  padding: 5px 0;
  margin: 10px auto 0 auto;
  width: 80%;
  color: #faf5e4;
}